.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Adjust background color if needed */
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 70px; /* Adjust as necessary */
    height: 70px;
    margin-right: 1rem;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    width: 70px; 
    height: auto; 
    border-radius: 50%; 
    object-fit: cover; 
    cursor: pointer;
  }
  